<div class="container-fluid">
  <div class="row">
    <div class="row" id="imgPortada">
      <div class="col-xs-12 visible-xs col-sm-12 visible-sm col-md-12 visible-md col-lg-12 visible-lg">
        <img src="../assets/img/portada.png" class="img-responsive">
      </div>
    </div>
    <div class="carousel-caption" id="title">
      <div class="col-xs-12 visible-xs col-sm-12 visible-sm col-md-12 visible-md col-lg-12 visible-lg">
        <h1>Quienes somos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 visible-xs col-sm-12 visible-sm col-md-12 visible-md col-lg-12 visible-lg">
        <section class="seccion1">
          <h2 class="h21">Mision</h2>
          <h3>Fomentar el desarrollo</h3>
          <div class="col-xs-8 visible-xs col-sm-8 visible-sm col-md-8 visible-md col-lg-8 col-lg-offset-2 visible-lg">
            <aside>
              <p class="p1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </aside>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="seccion2">
          <h2 class="h22">Vision</h2>
          <h3 class="h32">Fomentar el desarrollo</h3>
          <div class="col-xs-8 visible-xs col-sm-8 visible-sm col-md-8 visible-md col-lg-8 col-lg-offset-2 visible-lg">
            <aside>
              <p class="p2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </aside>
          </div>
        </section>
      </div>
    </div> 
  </div>     
</div>





