<div class="container-fluid" id="sha">
    <div class="row">
            <div class="row" id="imgPortada">
                <div class="col-xs-12 visible-xs col-sm-12 visible-sm col-md-12 visible-md col-lg-12 visible-lg">
                    <img src="../assets/img/portada.png" class="img-responsive">
                </div>
                </div>
                <div class="carousel-caption" id="title">
                <div class="col-xs-12 visible-xs col-sm-12 visible-sm col-md-12 visible-md col-lg-12 visible-lg">
                    <h1>Servicios</h1>
                </div>
            </div>
        <div class="col-xs-12">
            <section class="seccion1">
                <h3>Desarrollo de Software a la medida</h3>
                <h3>Desarrollo de Aplicaciones Móviles</h3>
                <h3>Desarrollo de Aplicaciones Web</h3>
                <h3>Desarrollo de Páginas Web</h3>
            </section>
        </div>
    </div>
</div>