<div class="container-fluid">
    <div class="row">
      <div class="col-xs-9 visible-xs visible-sm visible-md visible-lg">
        <fieldset class="ext_fieldset">
          <h2> Ingresar proyecto</h2>
          <fieldset class="int_fieldset">
            <form action="http://localhost:8000/login" method="post">
              <br>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1 visible-xs visible-sm visible-md visible-lg">
                    <label for="proy">Usuario:</label>
                </div>
                <div class="col-xs-4 col-sm-offset-1 visible-xs visible-sm visible-md visible-lg">
                    <input type="text" id="log" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-1 visible-xs visible-sm visible-md visible-lg">
                    <label for="tipo">Password:</label>
                </div>
                <div class="col-xs-4 col-xs-offset-1 visible-xs visible-sm visible-md visible-lg">
                    <input type="text" id="pass" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                    <button type="submit">Ingresar</button>
                </div>
              </div>
            </form>
          </fieldset>
        </fieldset>
      </div>
    </div>
  </div>