#title{
	padding-bottom: 2%;
	padding-top: 2%;
}

#contentContact{
    height: 400px;
}

/*
#contacto{
    margin-top: 5%;
}*/

#contacto h1{
    margin-bottom: 10%;
    font-family: merienda-one;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(66, 112, 133);
}

#contacto p{
    font-family: merienda-one;
    font-size: 1.7em;
}
/*
#form{
    margin-top: 5%;
}
*/
fieldset{
    border-radius: 6px;
    border: ridge;
    padding: 10px;
}

legend{
    font-family: merienda-one;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(66, 112, 133);
}

 textarea {
     resize: none;
     font-family: merienda-one;
     font-size: 1.7em;
     padding: 5px 10px;
     border-radius: 3px;
 }

 label {
     display: inline-block;
     margin-bottom: 8px;
     font-family: merienda-one;
     font-size: 1.7em;
     padding: 5px 10px;
 }

 input{
    font-family: merienda-one;
    font-size: 1.5em;
    border-radius: 3px;
    padding: 5px;
 }

 button{
    font-family: merienda-one;
    font-size: 1.7em;
    font-weight: bold;
    border-radius: 3px;
    margin: 12px;
    color: rgb(66, 112, 133);
 }