<div class="container-fuid" id="sha">
    <div class="row">
        <div class="col-xs-12" id="title">
        </div>
    </div>
</div>
<div class="container-fuid" id="contentContact">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
            <section id="contacto">
                <h1>Contacto</h1>
                <p>Gykamtic Software Company S.A.</p>
                <p>San Carlos, Alajuela, Costa Rica.</p>
                <p>Celular: (506) 61395750 / 88032666</p>
            </section>
        </div>
        <div class="col-xs-4 col-xs-offset-1 visible-xs visible-sm visible-md visible-lg">
            <section id="form">
                <form action="http://midominio.com/miservicioWeb.php" method="post">
                    <fieldset>
                        <legend>Datos de usuario</legend>
                        <div class="row">
                            <div class="col-xs-1 visible-xs visible-sm visible-md visible-lg">
                                <label for="name" >Nombre*</label>
                            </div>
                            <div class="col-xs-2 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                                <input name="name" id="name" type="text" placeholder="escribe tu nombre" required autofocus />
                                <input type="hidden" name="sitio" value="oculto"/>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-1 visible-xs visible-sm visible-md visible-lg">
                                <label for="email" >Email</label>
                            </div>
                            <div class="col-xs-3 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                                <input name="email" id="email" type="text" placeholder="escribe tu email" required autofocus />
                                <input type="hidden" name="sitio" value="oculto"/>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-1 visible-xs visible-sm visible-md visible-lg">
                                <label for="asunto" >Asunto</label>
                            </div>
                            <div class="col-xs-3 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                                <input name="asunto" id="asunto" type="text"/>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-1 visible-xs visible-sm visible-md visible-lg">
                                <label id="msg" for="mensaje">Mensaje</label>
                            </div>
                            <div class="col-xs-3 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                                <textarea name="mensaje" id="mensaje" placeholder="escribe tu mensaje aqui."></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-2 visible-xs visible-sm visible-md visible-lg">
                                <button type="submit">Borrar 
                                    <i class="fa fa-briefcase"></i> 
                                </button>
                            </div>
                            <div class="col-xs-1 col-xs-offset-3 visible-xs visible-sm visible-md visible-lg">
                                <button type="submit">Enviar 
                                    <i class="fa fa-briefcase"></i> 
                                </button>
                            </div>
                        </div>
                    </fieldset>		
                </form>
            </section>
        </div>
    </div>
</div>
  
